form p{
    color:whitesmoke;
    font-size: 30px;
    font-weight: bolder;
}
form {

display: flex;
flex-direction: column;
gap: 1rem;
align-items: center;
justify-content: center;
min-height: 100vh;
}
form input{
width:500px;
height: 39px;
border: 1px solid purple;
background-color: #000;
color: white;
outline: none;
font-size:15px;
font-weight: bold;
border-radius: 10px;
padding: 10px;
animation: borderAnimation 1s infinite alternate;
a{
    text-decoration: none;
    color: white;
}
}

@keyframes borderAnimation {
0% {
    border-color: purple;
}
100% {
    border-color: #ff00ff; 
}
}


.login-data{
display: flex;
flex-direction: column;
align-items: center;
}
.login-data .lg-btn button{

background-color: black;
outline: none;    
width: 500px;
height: 40px;
border-radius: 10px;
border: 2px solid purple;
font-size: medium;
color: whitesmoke;
font-weight: bold;
animation: borderAnimation 1s infinite alternate;
cursor: pointer;
a{
text-decoration: none;
color: white;
}
}

@keyframes borderAnimation {
0% {
border-color: purple;
}
100% {
border-color: #ff00ff; 
} 
}

.container .lg-btn h4{
color:white;
font-size: medium;
text-align: center;
a{
text-decoration: none;
color: white;
font-size: large;
color:orange;
padding-left:12px;
cursor: pointer;
}
}